<!DOCTYPE html>
<html>
<head>
  <title>Project One - GA WDI</title>
</head>


<body>

    <nav>
        <a href="/">welcome page</a>
        <a href="/index/login">login</a>
        <a href="/index/signup">sign up!</a>
        <a href="/logout">logout</a>
    </nav>

    <% if (!isAuthenticated) { %>
      <h1>You're going to need to login to get your hands on this hot, hot content.</h1>
      <h1><a href="/">Try again.</a></h1>
    <% } else { %>
      <h1>welcome to my site <%=user.firstname %> </h1>
    <% } %>

  

  








</body>
</html>