<!DOCTYPE html>
<html>
<head>
  <title>Project One - GA WDI</title>
</head>


<body>

    <nav>
      <p>
        <a href="/">welcome page</a>
      </p>
      <p>
        <a href="/index/login">login</a>
      </p>
      <p>
        <a href="/index/signup">sign up!</a>
      </p>
    </nav>


  

  








</body>
</html>