<%-include header.ejs %>

<% if (!isAuthenticated) { %>

<h1>You must be <a href="/login">logged in</a> to view this page</h1>

<% } else { %>
    


    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/home">home</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        crème
      </h1>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Check out our influencers
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="/eva/eva"><p>Eva Chen</p></a> 
      <p>Editor-in-Chief, Lucky Magazine</p>
        <form action="POST ROUTE" method="post">
          <input type="hidden" name="person" value="eva">
        </form>
   
    </div>

    <div class="col-md-4">
      <a href="/eva/eva"><p>Eva Chen</p></a> 
      <p>Editor-in-Chief, Lucky Magazine</p>
    
    </div>

     <div class="col-md-4">
      <a href="/eva/eva"><p>Eva Chen</p></a> 
      <p>Editor-in-Chief, Lucky Magazine</p>
      
    </div>
  </div>



<%-include footer.ejs %>

<% } %>