<!DOCTYPE html>
<html>
<head>
  <title>Project One - GA WDI</title>
</head>


<body>

    <nav>
        <a href="/">welcome page</a>
        <a href="/index/login">login</a>
        <a href="/index/signup">sign up!</a>
        <a href="/logout">logout</a>
    </nav>



</body>
</html>