<%-include header.ejs %>

<% if (!isAuthenticated) { %>

<h1>You must be <a href="/login">logged in</a> to view this page</h1>

<% } else { %>
    


    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/home">home</a></li>
            <li><a href="/eva/search">search</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        crème
      </h1>
    </div>
  </div> 
 
  
  <div class="row">
    <div class="col-md-6">
      <h3 class="sans"><em>fashion industry</em></h3>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3 class="sans"><em>add someone cool</em></h3>
    </div>
  </div>

  <div class="row">
    <!-- HIDDEN FORM FOR EVA CHEN-->
    <!-- TO INSTAGRAM FEED-->
    <div class="col-md-3">
      <p class="sans"><strong>Eva Chen</strong></p>
      <p class="sans">Editor-in-Chief, Lucky Magazine</p>
       <form action="/search">
        <input type="hidden" name="handle" value="evachen212">
        <input type="submit" class="sans" value="Eva's tweets">
      </form>
      <form action="/searchinsta">
        <input type="hidden" name="insta" value="evachen212">
        <input type="submit" class="sans" value="Eva's instagram">
      </form>

        <p class="sans"><strong>Shea</strong></p>
        <p class="sans">English television presenter, model and contributing editor at British Vogue. Author of 'It'</p>
      <form action="/search">
        <input type="hidden" name="handle" value="peaceloveshea">
        <input type="submit" class="sans" value="Shea's tweets">
      </form>
      <form action="/searchinsta">
        <input type="hidden" name="insta" value="peaceloveshea">
        <input type="submit" class="sans" value="Shea's instagram">
      </form>
    </div>

    <!-- HIDDEN FORM FOR HILLARY KERR-->
    <!-- TO TWITTER FEED-->
    <div class="col-md-3">
      <p class="sans"><strong>Hillary Kerr</strong></p>
      <p class="sans">Co-Founder of WhoWhatWear, DomaineHome, and Byrdie</p>
      <form action="/search">
        <input type="hidden" name="handle" value="hillarykerr">
        <input type="submit" class="sans" value="Hillary's tweets">
      </form>
      <form action="/searchinsta">
        <input type="hidden" name="insta" value="hillarykerr">
        <input type="submit" class="sans" value="Hillary's instagram">
      </form>

        <p class="sans"><strong>Alexa Chung</strong></p>
        <p class="sans">English television presenter, model and contributing editor at British Vogue. Author of 'It'</p>
      <form action="/search">
        <input type="hidden" name="handle" value="alexa_chung">
        <input type="submit" class="sans" value="Alexa's tweets">
      </form>
    </div>


      <!-- FORM FOR ADDING INFLUENCER TO DB-->
       <div class="col-md-5 col-md-offset-1">
        <form method="post" action="/add">
          <p>
            <label class="sans"for="fullname">name:</label>
          </p>
          <p>
            <input type="text" name="fullname" id="fullname"class="sans" placeholder="Choupette Lagerfeld" autofocus>
          </p>
          <p>
            <label class="sans" for="twitterhandle">twitter handle:</label>
          </p>
          <p>
            <input class="sans" type="text" name="twitterhandle" id="twitterhandle"placeholder="ChoupettesDiary">
          </p>
          <p>
            <label class="sans" for="instagram">instagram name: </label>
          </p>
          <p>
            <input class="sans" type="text" name="instagram" id="instagram" placeholder="choupettesdiary">
          </p>
          <p>
            <input class="sans" type="submit">
          </p>
      </form>
      </div>
  </div>

   <div class="row">
    <!-- HIDDEN FORM FOR CHOUPETTE-->
    <!-- TO TWITTER FEED-->
     <div class="col-md-3">
        <p class="sans"><strong>Choupette Lagerfeld</strong></p>
        <p class="sans">Karl Lagerfeld's cat.</p>
      <form action="/search">
        <input type="hidden" name="handle" value="choupettesdiary">
        <input type="submit" class="sans" value="Choupette's tweets">
      </form>
      <form action="/searchinsta">
        <input type="hidden" name="insta" value="choupettesdiary">
        <input type="submit" class="sans" value="Choupette's instagram">
      </form>
    </div>
    </div>





<%-include footer.ejs %>

<% } %>