<%-include header.ejs %>

<body>

     <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/">about</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">signup</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="jumbotron">
      <h1> crème </h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3><em>about the site</em></h3>
        <p>Ecru seam button up washed out knot ponytail cami chunky sole chignon. Furla vintage Levi collarless strong eyebrows tee leather tote Prada Saffiano slipper cuff. Silhouette relaxed spearmint razor pleats lilac indigo. Dungaree Lanvin white shirt Paris cable knit. Rings minimal knitwear loafer Céline. Texture knot ponytail la marinière 90s Paris skirt seam pastel Givenchy. Gold collar washed out plaited braid dress bomber. Tucked t-shirt neutral maxi slipper So-Cal Lanvin.Strong eyebrows cashmere luxe tortoise-shell sunglasses chambray white ribbed. Sneaker holographic crop navy blue tee flats skort grunge leggings statement. Metallic collarless center part bandeau denim. Saint Laurent sports luxe street style chignon denim shorts Maison Martin Margiela chunky sole cable knit Cara D. spearmint.</p>
      </div>
    </div>




<%-include footer.ejs %>