<%-include header.ejs %>

<body>

     <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/">welcome page</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">signup</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
  <h1>welcome to crème</h1>




<%-include footer.ejs %>