<%-include header.ejs %>

<body>

    <nav>
      <a href="/">welcome page</a>
      <a href="/login">login</a>
      <a href="/index/signup">sign up!</a>
      
    </nav>

  <h1>welcome to crème</h1>




<%-include footer.ejs %>