<!DOCTYPE html>
<html>
<head>
  <title> Login Page </title>
</head>


<body>

    <nav>
        <a href="/">welcome page</a>
        <a href="/index/login">login</a>
        <a href="/index/signup">sign up!</a>
    </nav>

    <p>
      <h1> login here </h1>
    </p>

    <form method="post" action="/login">
      <p>
        <input type="text" name="username" placeholder="enter username" autofocus>
      </p>

      <p>
        <input type="password" name="password" placeholder="enter password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>
  


</body>
</html>