<%-include header.ejs %>

    <nav>
        <a href="/">welcome page</a>
        <a href="/login">login</a>
        
    </nav>

    <p>
      <h1> login here </h1>
    </p>

    <form method="post" action="/login">
      <p>
        <label for="user">Username: </label>
        <input type="text" name="username" id="user" placeholder="enter username" autofocus>
      </p>

      <p>
        <label for="pass">Password: </label>
        <input type="password" name="password" id="pass" placeholder="enter password">
      </p>

      <p>
        <input type="submit" value="Log In">
      </p>
    </form>
  
    <a href="/index/signup">Don't have an account? Sign up here!</a>

<%-include footer.ejs %>