<%-include header.ejs %>

<% if (!isAuthenticated) { %>

<h1>You must be <a href="/login">logged in</a> to view this page</h1>

<% } else { %>
    
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/home">home</a></li>
            <li><a href="/eva/search">search</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-left">
        welcome <%= user.dataValues.firstname %>
      </h1>
    </div>
  </div> 
 
 <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h3>
        List of Favorites
      </h3>
    </div>
  </div> 
  



<%-include footer.ejs %>

<% } %>