<%-include header.ejs %>

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/">about</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">signup</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div style="background-url: "class="jumbotron">
      <h1 class="headerfont"> crème </h1>
    </div>

    <p style="color:hotpink">
      <% if(message) { %>
        <%= message %>
        <% } %>
    </p>


    <h1> sign up for an account </h1>
    <form method="post" action="/signup">
      <p>
        <label for="firstname">first name: </label>
        <input type="text" name="firstname" id="firstname" placeholder="choupette" autofocus>
      </p>
      <p>
        <label for="lastname">last name: </label>
        <input type="text" name="lastname" id="lastname" placeholder="lagerfeld">
      </p>
      <p>
        <label for="username">choose a username: </label>
        <input type="text" name="username" id="username" placeholder="yung_karl">
      </p>

      <p>
        <label for="password">next, set the password: </label>
        <input type="password" name="password" id="password" placeholder="the secret password">
      </p>

      <p>
        <input type="submit" value="sign up!">
      </p>
    </form>
  


<%-include footer.ejs %>