<%-include header.ejs %>

    <nav>
        <a href="/">welcome page</a>
        <a href="/login">already have an account? login!</a>
        <a href="/index/signup">sign up!</a>
    </nav>

    <h1> sign up for an account </h1>
    <form method="post" action="/signup">
      <p>
        <label for="firstname">first name: </label>
        <input type="text" name="firstname" id="firstname" placeholder="choupette" autofocus>
      </p>
      <p>
        <label for="lastname">last name: </label>
        <input type="text" name="lastname" id="lastname" placeholder="lagerfeld">
      </p>
      <p>
        <label for="username">choose a username: </label>
        <input type="text" name="username" id="username" placeholder="yung_karl">
      </p>

      <p>
        <label for="password">next, set the password: </label>
        <input type="password" name="password" id="password" placeholder="the secret password">
      </p>

      <p>
        <input type="submit" value="sign up!">
      </p>
    </form>
  


<%-include footer.ejs %>