<!DOCTYPE html>
<html>
<head>
  <title> Login Page </title>
</head>


<body>

    <nav>
      <p>
        <a href="/">welcome page</a>
      </p>
      <p>
        <a href="/index/login">already have an account? login!</a>
      </p>
      <p>
        <a href="/index/signup">sign up!</a>
      </p>
    </nav>

    <h1> sign up for an account </h1>
    <form method="post" action="/signup">
      <p>

        <label for="username">choose a username: </label>
        <input type="text" name="username" placeholder="yung_karl" autofocus>
      </p>

      <p>
        <label for="password">next, set the password: </label>
        <input type="password" name="password" placeholder="the secret password">
      </p>

      <p>
        <input type="submit" value="sign up!">
      </p>
    </form>
  


</body>
</html>