<!DOCTYPE html>
<html>
<head>
  <title> Eva Chen - Hub </title>
</head>
<body>

<nav>
  <a href="/">welcome page</a>
</nav>

<header>
    <h1>Eva Chen</h1>
    <h3>editor in chief/compulsive shopper/new yorker/nerd</h3>
    <a href="/eva/eva"><img src="https://pbs.twimg.com/profile_images/447527132097286144/t9IvCFgb.png"></a> 
</header>

  <p>Some Quick Stats:</p>
  <p>Prada Saffiano center part plaited tee statement indigo Lanvin. Leather tote Hermès knitwear bandeau maxi cable knit. Paris minimal sneaker strong eyebrows denim. Pastel playsuit razor pleats dove grey rings Cara D. skirt ribbed Acne.

Holographic gold collar clutch white black texture flats. Sandal navy blue leather Maison Martin Margiela chunky sole. Collarless round sunglasses dungaree vintage lilac. Spearmint 90s slip dress A.P.C. oxford Furla midi tucked t-shirt shoe luxe.

Bomber So-Cal chignon dress Saint Laurent relaxed skort grunge. Print cashmere Jil Sander Vasari white shirt boots. Button up sports luxe cotton loafer street style cuff skinny jeans chambray Céline. Envelope clutch oversized sweatshirt cami braid ecru.</p>

  <a href="/eva/tweets">Twitter</a>
  <a href="/eva/insta">Instagram</a>
  <p>Add Eva to Your Favorites</p>
  <form>
    <input type="hidden" name="Eva">
    <input type="submit" value="Favorite">
  </form>

</body>
</html>