<%-include../header.ejs %>

<% if (!isAuthenticated) { %>

<h1>You must be <a href="/login">logged in</a> to view this page</h1>

<% } else { %>
    


    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/home">home</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div>
    <h1>Eva Chen</h1>
    <h3>editor in chief/compulsive shopper/new yorker/nerd</h3>
    <a href="/eva/eva"><img src="https://pbs.twimg.com/profile_images/447527132097286144/t9IvCFgb.png"></a> 
</div>

  <p>Some Quick Stats:</p>
  <p>Prada Saffiano center part plaited tee statement indigo Lanvin. Leather tote Hermès knitwear bandeau maxi cable knit. Paris minimal sneaker strong eyebrows denim. Pastel playsuit razor pleats dove grey rings Cara D. skirt ribbed Acne.</p>


  <p>Add Eva to Your Favorites</p>
  <form>
    <input type="hidden" name="Eva">
    <input type="submit" value="Favorite">
  </form>


<%-include../footer.ejs %>

<% } %>