<%-include../header.ejs %>

<nav>
  <a href="/home">home</a>
</nav>

<header>
    <h1>Eva Chen</h1>
    <h3>editor in chief/compulsive shopper/new yorker/nerd</h3>
    <a href="/eva/eva"><img src="https://pbs.twimg.com/profile_images/447527132097286144/t9IvCFgb.png"></a> 
</header>


  <a href="/eva/tweets">Twitter</a>
  <a href="/eva/insta">Instagram</a>




<%-include../footer.ejs %>